.pointer {cursor: pointer;}
.not_allowed {cursor: not-allowed;}

.treeview-menu li a {
  margin-left: 20px;
}

.content-header h1 {

  font-family: 'Montserrat',sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #6E6A6A

}

.sub-titulo {

font-family: 'Montserrat',sans-serif;
font-size: 13px;
font-weight: 600;
color: #6E6A6A

}

.content-header .header-descripcion{

  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6E6A6A

}
.box-header h3 {

  font-family: 'Montserrat',sans-serif;
  font-weight: 400 !important;
}

.noresize {
    resize: none;
  }

.top-buffer { margin-top:20px; }


table thead th {

  font-size: 14px;
}

table thead tr th small {

 color: gray;
 font-style: oblique;

}

.table > tbody > tr > td {
  vertical-align: middle;
}

table tbody td {

  font-size: 13px;
  font-weight: 500;

}

label {

  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 600;

}

table .selected{

  background-color: #FDEDB6!important;

}

.btn-enod {

  background-color:rgb(255, 204, 0);
  border-color: rgb(255, 204, 0);
  color: #000000;
  font-weight: 600;
}

.btn-enod:hover {

  background-color:rgb(255, 219, 74);
}

.box-custom-enod {
  border-top-color: rgb(255, 204, 0);
}

.bg-custom-1 {

  background-color: #535353;

}

.bg-custom-2 {

  background-color: #202020
}
.bg-custom-3 {

  background-color: rgb(255, 204, 0);
  ;
}
.bg-custom-4 {

  background-color: rgb(152, 157,153);
}
.bg-custom-5 {

  background-color: rgb(152, 157,153);
}
.bg-custom-6 {

  background-color: #535353;
}
.bg-custom-7 {

  background-color: #202020
}
.bg-custom-8 {

  background-color: rgb(255, 204, 0);
}

.mx-datepicker {

  position: relative !important;
  display: block !important;
  width: 100% !important;

}

.modal{
  overflow-y:auto;
  text-align: center;

}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

  background-color: rgb(255, 204, 0);
  border-color:rgb(255, 204, 0);
}

.size-pqr-eps{

  font-size: 13px !important;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}


.habilitadoArn {

    color:rgb(255, 204, 0);
}

.deshabilitadoArn {

color:rgb(255, 255, 255);
}

.well {
    display: flex;
    align-items: center;
  }
