.noresize {
    resize: none; 
  }

.top-buffer { margin-top:20px; }

.box-title {

  font-size: 15px;
  font-style: italic;
  color : #6E6A6A;
}

table th {

  font-size: 12px;;
}

table thead tr th small {

 color: gray;
 font-style: oblique;

}