.treeview-menu li a {
  margin-left: 20px;
}

.content-header h1 {

font-family: 'Montserrat',sans-serif;
font-size: 21px;
font-weight: 500;
}

.sub-titulo {

font-family: 'Montserrat',sans-serif;
font-size: 17px;
font-weight: 400;
}

.box-header h5 {

  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-style: italic;
}
.noresize {
    resize: none; 
  }

.top-buffer { margin-top:20px; }


.table-responsive, .table-responsive td {
  overflow: visible !important
}

table th {

  font-size: 12px;;
}

table thead tr th small {

 color: gray;
 font-style: oblique;

}

.table > tbody > tr > td {
  vertical-align: middle;
}

label {

  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 600;

}

table .selected{

  background-color: #FDEDB6!important;

} 

.box-custom-enod {
  border-top-color: #F9CA33;
}

.bg-custom-1 {

  background-color: #CFCFCA;

}

.bg-custom-2 {

  background-color: #F29C33
}
.bg-custom-3 {

  background-color: #F7C133;
  ;
}
.bg-custom-4 {

  background-color: #B7440C;
}
.bg-custom-5 {

  background-color: #A8CBF2;
}
.bg-custom-6 {

  background-color: #5AC7E0;
}
.bg-custom-7 {

  background-color: #3A8EB6
}
.bg-custom-8 {

  background-color: #54A75C;
}