.pointer {cursor: pointer;}
.not_allowed {cursor: not-allowed;}
.treeview-menu li a {
  margin-left: 20px;
}

.content-header h1 {

font-family: 'Montserrat',sans-serif;
font-size: 21px;
font-weight: 500;
}

.sub-titulo {

font-family: 'Montserrat',sans-serif;
font-size: 14px;
font-weight: 400;
}

.box-header h3 {

  font-family: 'Montserrat',sans-serif;
  font-style: italic;
}
.noresize {
    resize: none; 
  }

.top-buffer { margin-top:20px; }


table thead th {

  font-size: 13px;
} 

table thead tr th small {

 color: gray;
 font-style: oblique;

}

.table > tbody > tr > td {
  vertical-align: middle;
}

table tbody td {

  font-size: 13px;
  font-weight: 500;

}

label {

  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 600;

}

table .selected{

  background-color: #FDEDB6!important;

} 

.box-custom-enod {
  border-top-color: #F9CA33;
}

.bg-custom-1 {

  background-color: #535353;

}

.bg-custom-2 {

  background-color: #202020
}
.bg-custom-3 {

  background-color: #FDC937;
  ;
}
.bg-custom-4 {

  background-color: #BABBB5;
}
.bg-custom-5 {

  background-color: #BABBB5;
}
.bg-custom-6 {

  background-color: #535353;
}
.bg-custom-7 {

  background-color: #202020
}
.bg-custom-8 {

  background-color: #FDC937;
}

.mx-datepicker {
  
  position: relative !important;
  display: block !important;
  width: 100% !important;

}

.modal{
  overflow-y:auto;
  text-align: center;

}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}