Html, body{
  height:100%;
}

.login-box-body  , .logos-soft {
  border: solid 1px #B0B0B0 !important;
}

.logos-soft {

  margin-top: 8px !important;

}

@media (min-width: 768px) {

  .background-image {
      background-image: url("/img/fondo-login-enod.jpg");
      background-repeat: no-repeat;
      background-size : cover;
    }
}

@media (max-width: 768px) {
  
  .background-image {
      background-image: url("/img/fondo-login-enod-mobile.jpg");
      background-repeat: no-repeat;
      background-size : cover;
    }
}

#app { height: 100% !important}

.py-4 {
  padding-bottom: 5rem !important;
  height: 100% !important;  
}

.grandParentContaniner{
  display:table; height:100%; margin: 0 auto !important;
}

.login-box{
  display:table-cell; vertical-align:middle !important;;
}