.bordered {
    border-color: #000000;
    border-style: solid;
    border-width: 2px; 
    border-collapse: collapse;   
}
.bordered-td {
    border-color: #000000;
    border-style: solid;
    border-width: 1px; 
    border-collapse: collapse; 
}
.titulosHead {

    font-size: 13px;
    font-weight: bold;
}

.header-detalle-principal
{
    width: 100%;
    border-collapse: collapse;
}

.header-detalle 
 {
    border-collapse: collapse;
}

.header-detalle tbody tr:nth-child(4n+1 ) {
    background-color: rgb(217, 217, 217);
} 

.header-detalle tbody tr:nth-child(4n+2 ) {
    background-color: rgb(217, 217, 217);
    
} 


table .header-detalle tr th { 

    border-top: 1.5px solid rgb(255,204, 0);       
   
}


.borderFila { 

    border-bottom: 1.5px solid rgb(255,204, 0);   
    
}

.noBorder {
    border: none !important;
    border-style: none !important;
}


.datosHead, .header-detalle tbody tr td {

    font-style: italic;
}

.EspecialCaracter {
    font-family: DejaVu Sans;
}



